<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
	<h1>Mission Show Page</h1>
	<h3>Mission Name: <%= missions.name %></h3>
	<h3>Launch Date: <%= missions.launchDate %></h3>
	<h3>Operator: <%= missions.operator %></h3>
	<h3>Mission Type: <%= missions.missionType %></h3>
	<h3>Image:</h3>
	<img src="<%= missions.img %>">
	<br>
	<br>
	<a href="/marsMissions">HOME</a>
</head>
<body>

</body>
</html>